.hide{
  display:none;
}

.open-new {
  cursor: pointer;
}

.page__taxonomy-item-category {
  display: inside;
  margin-right: 5px;
  margin-bottom: 8px;
  padding: 3px 8px;
  text-decoration: none;
  border: 1px solid #373C3F;
  border-radius: 4px;
  background-color: #6d7275;
  color: #ffc005;
}
.page__taxonomy-item-category:link,
.page__taxonomy-item-category:visited {
  color: #ffc005;
}
.page__taxonomy-item-category:hover {
  color: #8cd2d5;
}
.page__taxonomy-item-tag {
  display: inside;
  margin-right: 5px;
  margin-bottom: 8px;
  padding: 3px 8px;
  text-decoration: none;
  border: 1px solid #373C3F;
  border-radius: 4px;
  background-color: #4D5357;
  color: #FFBF00;
}
.page__taxonomy-item-tag:link,
.page__taxonomy-item-tag:visited {
  color: #ffc005;
}
.page__taxonomy-item-tag:hover {
  color: #8cd2d5;
}

a:-webkit-any-link {
  text-decoration: none;
}

.nav__sub-title {
  display: block;
  margin: 0.5rem 0;
  padding: 0.25rem 0;
  font-size: 1.350em;
  color: #ffd559;
  border-bottom: 1px solid #5f6365;
}

.nav__list .nav__items a {
  color: inherit;
  font-size: 1.350em;
  font-family: "Cafe24Oneprettynight";
  color: #fff2cc;
}

.nav__list .nav__items a:hover {
  text-decoration: underline;
}